.App {

  height: 487px;
  width: 1024px;
  border: dotted;
  display: flex;
  justify-content: center;
  align-items: center;
}


.content {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.box {
  position: absolute;
  cursor: move;
  color: black;
  max-width: 215px;
  border-radius: 5px;
  padding: 1em;
  margin: auto;
  user-select: none;
}

.conatiner__menu{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column ;
  width: 1000px;
}


@media (max-width: 600px) {

  .content {
    width: 1000px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .App {
    height: 90vh;
    width: 90%;
    border: dotted;
  }
}